# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\An 3\POO\Tema-POO-2020\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
